<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css" rel="stylesheet" />
    <link rel="stylesheet" href="style.css" />

    <title>About Us </title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark ">
            <div class="container-fluid px-5">
                <a class="navbar-brand" href="index.html">
                    <h2>Gym<span>Victory</span></h2>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active " aria-current="page" href="index.html" style="color: white;">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="products1.html" style="color: white;">products</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link " href="price.html" style="color: white;">
                      Price
                    </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active " aria-current="page" href="services.html" style="color: white;">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active " aria-current="page" href="about.html" style="color: white;">About</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <button class="btn btn-outline-danger text-light" type="submit"> <a href="login.html" style="text-decoration:none ;" class="text-white"> Join-now</a></button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="tt py-5 bg-danger">
            <h1 class="text-white" style="text-align:center; "><span class="text-white" style="font-family: 'Dancing Script ', cursive;"> About</span> Us</h1>
        </div>
        <section class="part1 bg-light ">
            <div class="container ">
                <div class="row">
                    <div class="col-lg-4 py-5 bg-light" style="">
                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-8">
                                <img src="https://img.freepik.com/premium-photo/handsome-man-standing-strong-gym-flexing-muscles-muscular-athletic-bodybuilder-fitness_286419-155.jpg?w=2000" class="img-fluid" style="height: 400px;" alt="">

                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                    </div>
                    <div class="col-lg-8 justify-content:center">
                        <h5 class="py-5">
                            <span class="" style="font-family: 'Dancing Script ', cursive; font-weight: 800;">Gyms, Health and Fitness Clubs </span>

                        </h5>
                        <p class="text-dark" style="font-weight: 500;">The gyms, health & fitness clubs market refers to clubs that provide exercise facilities such as weight and exercise machines, fitness classes, personal training and other services such as health and beauty facilities, food and
                            drink, clothing and equipment, designed for users to improve and maintain their physical health. Market revenues are calculated as the membership fees paid to clubs, and any currency conversions used in the creation of this
                            report have been calculated using constant 2019 annual average exchange rates.Figures presented in this report are calculated applying the middle path scenario - this is based on the current situation in countries where the
                            epidemic burst first, like China as a model countries and the announcements made by governments, stating that the abnormal situation may last up to six months.</p>
                        <p class="text-dark py-3" style="font-weight: 500;">
                            The Indian gyms, health and fitness clubs market is expected to generate total revenues of $0.6bn in 2020, representing a compound annual growth rate (CAGR) of 11% between 2016 and 2020. Consumers in India are becoming increasingly health conscious but
                            the availability of fitness clubs in the country varies.The value of the India gyms, health and fitness clubs market is expected to contract by -3.2% in 2020 as a result of the COVID-19 pandemic.
                        </p>

                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js " integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM " crossorigin="anonymous "></script>

</body>

</html>