<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css" rel="stylesheet" />
    <link rel="stylesheet" href="style.css" />

    <title>Services</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark ">
            <div class="container-fluid px-5">
                <a class="navbar-brand" href="index.html">
                    <h2>Gym<span>Victory</span></h2>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active " aria-current="page" href="index.html" style="color: white;">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="products1.html" style="color: white;">products</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link " href="price.html" style="color: white;">
                      Price
                    </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active " aria-current="page" href="services.html" style="color: white;">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active " aria-current="page" href="about.html" style="color: white;">About</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <button class="btn btn-outline-danger text-light" type="submit"> <a href="login.html" style="text-decoration:none ;" class="text-white"> Join-now</a></button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section class="course  bg-light">
            <div class="container py-3 ">
                <h1 class="text-center "><span>COURSES</span> </h1>
                <p class="text-center">WE OFFER MORE THAN 35 GROUP EXERCISE, AEROBIC CLASSES EVERY WEEK.</p>
                <div class="row row-cols-4 py-5">
                    <div class="col-lg-3">
                        <div class="card back">
                            <img src="https://thumbs.dreamstime.com/b/muscular-athletic-bodybuilder-fitness-model-posing-exercis-weights-exercises-gym-64856941.jpg" class="img-fluid" style="height: 205px;" alt="">
                            <div class="card-body">
                                <h3 class="m-0">Gym</h3>
                                <p>Mentor: Jimmy Karter</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 ">
                        <div class="card back">
                            <img src="https://voices.shortpedia.com/wp-content/uploads/2021/09/Calisthenics-1200x900@.jpg" class="img-fluid" style="height: 205px;" alt=" ">
                            <div class="card-body ">
                                <h3 class="m-0 ">Calasthenics</h3>
                                <p>Mentor: Jimmy Karter</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 ">
                        <div class="card back">
                            <img src="https://www.verywellfamily.com/thmb/hPJ5gOT2-KZz9iF9cyguucuFiqM=/1885x1414/smart/filters:no_upscale()/GettyImages-91947864-584826485f9b5851e5b39270.jpg " class="img-fluid " style="height: 205px;" alt=" ">
                            <div class="card-body ">
                                <h3 class="m-0 ">Martial Arts</h3>
                                <p>Mentor: Jimmy Karter</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 ">
                        <div class="card back">
                            <img src="https://www.kreedon.com/wp-content/uploads/2022/03/sunsetyoga-2_647_062115121022.jpg" style="height: 205px;" class="img-fluid " alt=" ">
                            <div class="card-body ">
                                <h3 class="m-0 ">Yoga</h3>
                                <p>Mentor: Jimmy Karter</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 ">
                        <div class="card back">
                            <img src="https://img.freepik.com/premium-photo/four-karate-fighters-poses-white-kimono-group-training-karatekas-workout-martial-arts_266732-21075.jpg?w=2000" class="img-fluid " style="height: 205px;" alt=" ">
                            <div class="card-body ">
                                <h3 class="m-0 ">Karate</h3>
                                <p>Mentor: Jimmy Karter</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 ">
                        <div class="card back">
                            <img src="https://www.kreedon.com/wp-content/uploads/2018/11/sports-boxing-man-muscle-hd-wallpaper-preview-1200x900.jpg" class="img-fluid " style="height: 205px;" alt=" ">
                            <div class="card-body ">
                                <h3 class="m-0 ">Boxing</h3>
                                <p>Mentor: Jimmy Karter</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 ">
                        <div class="card back">
                            <img src="https://Gym_Tech/Static.toiimg.com/photo/85897572.cms " class="img-fluid " style="height: 205px;" alt=" ">
                            <div class="card-body ">
                                <h3 class="m-0 ">Pilates</h3>
                                <p>Mentor: Jimmy Karter</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 ">
                        <div class="card back">
                            <img src="https://lmimirror3pvr.azureedge.net/Gym_Tech/Static/media/17813/05e5e9e1-a27f-4440-bea7-6ea6ec7f8e93/five-reasons-to-try-hiit-960x540.jpg" class="img-fluid " style="height: 205px;" alt=" ">
                            <div class="card-body ">
                                <h3 class="m-0 ">HIIT</h3>
                                <p>Mentor: Jimmy Karter</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="course bg-light ">
            <div class="container ">
                <h1 class="text-center "><span>AMENITIES</span></h1>

                <div class="row row-cols-4 py-5 ">
                    <div class="col-lg-3 ">
                        <div class="card back">
                            <img src="https://media-cldnry.s-nbcnews.com/image/upload/rockcms/2021-12/211208-working-out-stock-mn-1310-55e1c7.jpg" class="img-fluid " style="height: 205px;" alt=" ">
                            <div class="card-body ">
                                <h3 class="m-0 ">Cardio</h3>
                                <p>Mentor: Jimmy Karter</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 ">
                        <div class="card back">
                            <img src="https://mindyourfitness.in/wp-content/uploads/2022/01/Screenshot_44.png" class="img-fluid " style="height: 205px;" alt=" ">
                            <div class="card-body ">
                                <h3 class="m-0 ">Fitness Consultant</h3>
                                <p>Mentor: Jimmy Karter</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 ">
                        <div class="card back">
                            <img src="https://www.shape.com/thmb/W5m1fVokhXxGusmpNRhhfDP6dH8=/3872x2178/smart/filters:no_upscale():focal(1935x1295:1937x1297)/GettyImages-96709750-1-9e5f0456cc684fc5b0dfafdc8accc9c5.jpg" class="img-fluid " style="height: 205px;" alt=" ">
                            <div class="card-body ">
                                <h3 class="m-0 ">Swimming</h3>
                                <p>Mentor: Jimmy Karter</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 ">
                        <div class="card back">
                            <img src="https://clubsolutionsmagazine.com/wp-content/uploads/2020/01/Edited__shutterstock_1056233618.jpg" class="img-fluid " style="height: 205px;" alt=" ">
                            <div class="card-body ">
                                <h3 class="m-0 ">
                                    GGX (Group Exercise)</h3>
                                <p>Mentor: Jimmy Karter</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-cols-4 ">
                    <div class="col-lg-3 ">
                        <div class="card back">
                            <img src="https://cdn.shopify.com/s/files/1/0257/7740/5999/articles/steam_room_1200x600_crop_center.jpg?v=1640075424" class="img-fluid " style="height: 205px;" alt=" ">
                            <div class="card-body ">
                                <h3 class="m-0 ">Steam and Shower</h3>
                                <p>Mentor: Jimmy Karter</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 ">
                        <div class="card back">
                            <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/unrecognizable-man-exercising-with-kettlebells-royalty-free-image-1641297939.jpg" class="img-fluid " style="height: 205px;" alt=" ">
                            <div class="card-body ">
                                <h3 class="m-0 ">Free weight</h3>
                                <p>Mentor: Jimmy Karter</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 ">
                        <div class="card back">
                            <img src="https://i.pinimg.com/originals/bd/3b/2e/bd3b2e541cb056a21203de6573467ed7.jpg" class="img-fluid " style="height: 205px;" alt=" ">
                            <div class="card-body ">
                                <h3 class="m-0 ">Locker</h3>
                                <p>Mentor: Jimmy Karter</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 ">
                        <div class="card back">
                            <img src="https://webassets-prod.ultimateperformance.com/uploads/2021/06/16163347/Partner-Coach-Banner-3.jpg" class="img-fluid " style="height: 205px;" alt=" ">
                            <div class="card-body ">
                                <h3 class="m-0 ">Personal Trainer</h3>
                                <p>Mentor: Jimmy Karter</p>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </section>
    </main>
    <footer class="py-5">

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js " integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM " crossorigin="anonymous "></script>

</body>

</html>